.doifound{
    background-color: #f5f5f5;
    border: 2px solid #c43bf3;
    width: 280px;
    height: 280px;
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 1000;
    padding: 20px!important;
    font-size: 13px;
    font-family: tahoma, verdana, sans-serif;
    border-radius: 10px;
}
