body{
    font-family: 'system-ui', 'Arial', sans-serif;
    font-size: 12px;
    min-width: 300px;
    min-height: 400px;
    margin: 0;
}
label{
    font-size: 13px;
}
#status{
    min-height: 1.5em;
}
#institutesearch{
    margin-top: 0.5em;
}
#institute{
    width: 75%;
}

#header{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 2em;
    color: #000;
    background-color: #ffffff;
    border-bottom: 2px solid #F09819;
}

#oahelpericon{
    width: 1em;
    height: 1em;
}

#footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #F5F5F5;
    color: #303030;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

#popupanswer{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-image: linear-gradient(to right, #3a7bd5 0%, #3a6073  51%, #3a7bd5  100%);
}

.button {
    max-width: 250px;
    margin: 0.5em;
    padding: 1em;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: 2px solid #fff;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#oabutton{
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
}
#oabutton {
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.oabuttongreen {
    background-image: linear-gradient(to right, #76b852 0%, #8DC26F  51%, #76b852  100%) !important;
}

#oabutton:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#oabuttonrequestlink {
    width: unset;
    margin: unset;
    padding: unset;
    text-align: unset;
    transition: unset;
    background-size: unset;
    color: #3a7bd5;           
    box-shadow: unset;
    border-radius: unset;
    display: unset;
    border: unset;
    cursor: pointer;
    background-image: unset;
    background-color: unset;
}

#oabuttonrequestlink:hover{
    text-decoration: underline;
}

#citationbutton {
    background-image: linear-gradient(to right, #9D50BB 0%, #6E48AA  51%, #9D50BB  100%);
}
#citationbutton {
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

#citationbutton:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#oabuttonrequest {
    background-image: linear-gradient(to right, #3a7bd5 0%, #3a6073  51%, #3a7bd5  100%);
}
#oabuttonrequest {
    max-width: 250px;
    margin: 0.5em;
    padding: 1em;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: 2px solid #fff;
    cursor: pointer;
}

#oabuttonrequest:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
#ezproxybutton {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
#ezproxybutton {
    max-width: 250px;
    margin: 0.5em;
    padding: 1em;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: 2px solid #fff;
    cursor: pointer;
}

#ezproxybutton:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
#configurationlink, #supportlink, #hidebadges{
    color: #303030;
}

#configurationlink:hover, #configurationlink:visited, #configurationlink:active,#supportlink:hover, #supportlink:visited, #supportlink:active, #hidebadges:hover, #hidebadges:visited, #hidebadges:active{
    color: #303030;
    font-style: italic;
}

#sadbabyimg{
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.oah_center{
    text-align: center;
}

img#oah_settings_icon{
    width: 15px;
    position: absolute;
    top: 0.35em;
    right: 0.35em;
    cursor: pointer;
}
